<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>instituteControllerForDelete.DeleteInstituteWithValidCredentials</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteInstituteWithoutBearerToken2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteInstituteWithBearerToken1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>instituteControllerForDelete.DeleteInstituteWithInvalidCredentials</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteInvalidInstituteCodeWithBearerToken1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletevalidInstituteCodeWithBearerToken3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteInstituteCodeAsSpaceWithBearerToken2</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
