<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b8ea6">  <td>23/03/17 23:25:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteInstituteWithInvalidCredentials.deleteInstituteCodeAsSpaceWithBearerToken2()[pri:2, instance:instituteControllerForDelete.DeleteInstituteWithInvalidCredentials@66d3eec0]">deleteInstituteCodeAsSpaceWithBearerToken2</td> 
  <td>main@1807648168</td>   <td></td> </tr>
<tr bgcolor="f29890">  <td>23/03/17 23:24:57</td>   <td>-18050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteInstituteWithValidCredentials.deleteInstituteWithBearerToken1()[pri:1, instance:instituteControllerForDelete.DeleteInstituteWithValidCredentials@4229bb3f]">deleteInstituteWithBearerToken1</td> 
  <td>main@1807648168</td>   <td></td> </tr>
<tr bgcolor="f29890">  <td>23/03/17 23:25:14</td>   <td>-618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteInstituteWithValidCredentials.deleteInstituteWithoutBearerToken2()[pri:2, instance:instituteControllerForDelete.DeleteInstituteWithValidCredentials@4229bb3f]">deleteInstituteWithoutBearerToken2</td> 
  <td>main@1807648168</td>   <td></td> </tr>
<tr bgcolor="9b8ea6">  <td>23/03/17 23:25:14</td>   <td>-255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteInstituteWithInvalidCredentials.deleteInvalidInstituteCodeWithBearerToken1()[pri:1, instance:instituteControllerForDelete.DeleteInstituteWithInvalidCredentials@66d3eec0]">deleteInvalidInstituteCodeWithBearerToken1</td> 
  <td>main@1807648168</td>   <td></td> </tr>
<tr bgcolor="9b8ea6">  <td>23/03/17 23:25:15</td>   <td>157</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteInstituteWithInvalidCredentials.deletevalidInstituteCodeWithBearerToken3()[pri:3, instance:instituteControllerForDelete.DeleteInstituteWithInvalidCredentials@66d3eec0]">deletevalidInstituteCodeWithBearerToken3</td> 
  <td>main@1807648168</td>   <td></td> </tr>
</table>
