<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f29890">  <td>23/03/17 22:30:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteInstituteWithValidCredentials.gettingStandardDataWithBearerToken()[pri:2, instance:instituteControllerForDelete.DeleteInstituteWithValidCredentials@7fee8714]">gettingStandardDataWithBearerToken</td> 
  <td>main@593415583</td>   <td></td> </tr>
</table>
